* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background: #eee;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* 상단 메뉴바 */
.header {
  width: 100%;
  height: 50px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
   font-size: 12pt;
   font-family: 'PT Sans', Arial, Sans-serif;
   position: relative;
 }

nav ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
  text-align: right;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

nav li a:hover {
  color: #FFD400;
  font-weight:normal;
}

nav li:last-child a {
  border-right: 0;
}

nav a:hover, nav a:active {
}

nav a#pull {
  display: none;
}

.active-nav {
  color: #FFD400;
}

/* scroll event */
.header.scroll {
  background-color: rgba(255,255,255,0.8);
}

.header.scroll nav li a {
  color: black;
}
.header.scroll nav li a:hover {
  color: #FFD400;
}

/* section-1 ============================================== */

.section-1 {
  width: 100%;
  height: 100vh;
  background: url("../img/section2.png") no-repeat center center;
  background-size: cover;
}

/* section-2 ============================================== */

.section-2 {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: url("../img/section1.png") no-repeat center center;
  background-size: cover;
}

.section-2 .title-wrap {
  padding:50px 0 20px 0;
}

.portfolio-ul {
  list-style-type: none;
}
.portfolio-li {
  width: 20%;
  padding: 0 25px;
}

.portfolio-item {
  display: block;
  position: relative;
  text-decoration-line: none;
  text-decoration-color: black;
}

.portfolio-item:active, .portfolio-item:visited {
  color: black; /* 링크 글자색 유지 */
}

.portfolio-item-wrap {
  position: relative;
}

.portfolio-thumbnail {
  width: 100%;
  border-radius: 10px;
}

.portfolio-thumbnail-badge {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  background-color: #F24F43;
  border-radius: 999px;
  display: inline-block;
  padding: 4px 8px 4px 8px;
  position: absolute;
  top:12px;
  left: 12px;
}

.portfolio-title {
  padding: 22px 0 22px 0;
  font-size: 16px;
}

.portfolio-item-badge-wrap {
  position: relative;
}

.portfolio-item-badge-inner {
  padding-right: 28px;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* 그라데이션 효과 추가 */
.portfolio-item-badge-inner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px; /* 그라데이션 폭 조정 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f9fa);
  pointer-events: none;
}

.portfolio-item-badge-inner::-webkit-scrollbar {
  display: none;
}

.portfolio-item-badge {
  font-size: 11px;
  color: white;
  display: inline-block;
  padding: 0 10px;
  margin-right: 3px;
  border-radius: 4px;
  line-height: 30px;
  font-weight: 400;
  background-color: #acacac;
}

/* section-3 ============================================== */

.section-3 {
  width: 100%;
  height: 100vh;
  background: url("../img/section2.png") no-repeat center center;
  background-size: cover;
}

/* section-4 ============================================== */

.section-4 {
  width: 100%;
  height: 100vh;
  background: url("../img/section1.png") no-repeat center center;
  background-size: cover;
}
